{% extends 'main/base.html' %} {% block title %}Home Page{% endblock %}
{% block content %}
<br>
{% csrf_token %}
    {% if user.is_authenticated  %}
    <h2 class="font-semibold text-lg">Some random accounts:</h2>
    {% else %}
    <h2 class="font-semibold text-lg">Some random accounts:</h2>
    {% endif %}
    
    {% for suggestion in suggestions_username_profile_list %}
    <div class="card mt-2">
        <div class="card-header">
            <div class="flex flex-col">
                <a href="/profile/{{suggestion.user}}"> View</a>: {{suggestion.user}} 
            </div>
        </div>
    </div>
    {% empty %}
    <p>No new users</p>
    {% endfor %}
<br>
{% if user.is_authenticated  %} 
    <h2 class="font-semibold text-lg">Posts</h2>
    {% for post in posts reversed %}
    <div class="card mt-2">
            <div class="card-header">
                <a href="/profile/{{post.post.author.username}}"  >
                    @@
                </a>{{post.post.author.username}}
            </div>
        <div class="card-body d-flex flex-row justify-content-between">
            <div>
                <a href="/post_page/{{post.post.id}}">\-></a>
                    <div class="card mt-2">
                        <h5 class="card-title"> 	 	&nbsp;&nbsp;{{post.post.text}} 	 	&nbsp;&nbsp;</h5>
                        <br />
                    </div>
                    

            </div>
            <div> 
                {% if user.is_superuser %}
                <form action="{% url 'downloadexcel2' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger" name="post-id" value="{{post.post.id}}">Delete post as admin</button>
                </form>
                {% endif %}
            </div>
        </div>
        <div>
            {% for comment in post.comments_list%}
            <div class="card mt-2">
                <div class="card-header"><a href="/profile/{{comment.author}}" >@@</a>	{{comment.author}}&nbsp;Wrote:</div>
                    <h5 class="card-title"> 	&nbsp; 	&nbsp;{{comment.text}} 	&nbsp; 	&nbsp;</h5>
                    <p> 	&nbsp; 	&nbsp;{{comment.created_at}} 	&nbsp; 	&nbsp;</p>
                    <br />
            </div>
            {% endfor %}
        </div>
        <div class="card-footer text-muted">
            {{post.post.created_at}}
        </div>
    </div> 
    <hr>
    {% empty %}
    <p>No posts yet! Follow new people to see their stories!</p>
    {% endfor %}
{% else %}
    <p>You will be able to see user post here if u create an account!</p>
{% endif %}
 {% endblock %}