{% extends 'main/base.html' %} {% block title %}Explore{% endblock %}
{% block content %}
<br>
<form method="post">
    <h2 class="font-semibold text-lg">Search...</h2>
    {% csrf_token %}
    <input type="text" name="search_val" placeholder="Search for username or post...">&nbsp; &nbsp;
    <button type="submit" class="btn btn-success">Search</button>
    <div class="col-md-9 col-md-pull-3">
</form>  
<hr>
{% for users in username_profile_list %}
<section class="search-result-item">
    <a class="image-link" href="/profile/{{users.user}}"><img class="image" src="{{users.profileimg.url}}" width="100" height="100">
    </a>
    <div class="search-result-item-body">
        <div class="row">
            <div class="col-sm-9">
                 <h4 class="search-result-item-heading"><a href="/profile/{{users.user}}"><b>@{{users.user}}</b></a></h4>
            </div>
        </div>
    </div>
</section>
{% endfor %}
<hr>
{% for post in posts reversed %}
<div class="card mt-2">
    <div class="card-header">
         <a href="/profile/{{post.author.username}}"  >
            @{{post.author.username}}
            </a>
    </div>
    <div class="card-body d-flex flex-row justify-content-between">
        <div>
            <a href="/post_page/{{post.id}}">
                <h5 class="card-title">{{post.test}}</h5>
                <br />
            </a>
        </div>         
    <div> 
    </div>
    </div>
<div>
<a href="/like-post?post_id={{post.id}}" class="flex items-center space-x-2">
    <div class="p-2 rounded-full text-black">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="25" height="25" class="">
            <path d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z" />
        </svg>
        {% if post.likes_count == 0 %}
        <p>--test--</p>
        {% elif post.likes_count == 1 %}
        <p>Liked by {{post.likes_count}} person</p>
        {% else %}
        <p>Liked by {{post.likes_count}} people</p>
        {% endif %}
    </div>
</a>
</div>
    <div class="card-footer text-muted">
            {{post.created_at}}
    </div>
</div> 
{% endfor %}
{% endblock %}